<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MemCacheDManager.Configuration" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>

		<sectionGroup name="enyim.com">
			<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
		</sectionGroup>
		
    </configSections>

	<enyim.com>
		<memcached>

			<servers>
				
			</servers>

			<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:05" deadTimeout="00:02:00" />
		</memcached>
	</enyim.com>
	
	
    <userSettings>
        <MemCacheDManager.Configuration>
            <setting name="DefaultUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MemcachedBinarySource" serializeAs="String">
                <value />
            </setting>
            <setting name="MsvcrBinarySource" serializeAs="String">
                <value />
            </setting>
            <setting name="LastConfigFile" serializeAs="String">
                <value />
            </setting>
        </MemCacheDManager.Configuration>
    </userSettings>
</configuration>




